*{
    padding: 0 ;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a{
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}
.inp input{
    width: 450px;
    height: 30px;
    border-radius: 5px;
}
.LocalIcon_root {
    display: flex;
    width: 100%;
    /* padding: 1rem 100px; */
    height: 90px;
    justify-content: center;
    align-items: center;
    gap: 37px;
    /* border-bottom: 1px solid blue; */
}
.searsbar{
    font: inherit;
    color: currentcolor;
    box-sizing: content-box;
    background: none;
    margin: 0px;
    display: block;
    min-width: 0px;
    width: 100%;
    padding-left: 20px;
    border: 1px solid rgb(219, 219, 219);
}
.sign__in{
    border: 0px;
    background: none;
}
.sign {
    display: flex;
    gap: 4px;
    border-right: 1px solid rgb(223, 220, 220);
    padding-right: 10px;
}
.btn-cart{
    border: 0px;
    background: none;
}
.cart {
    display: flex;
    border-right: 1px solid rgb(223, 220, 220);
    column-gap: 9px;
    padding-right: 10px;
}
.btn-support{
    border: 0px;
    background: none;
}
.support{
    display: flex;
    gap: 7px;
}
.navBar{
    display: flex;
    gap: 10px;
    margin: 15px 0;
}
a{
    color: rgb(33, 34, 52) !important;
    font-family: 'Cabin', sans-serif;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
}
.navbar{
    width: 100%;
    /* overflow: hidden; */
    padding: 0 86px;
    height: 50px;
    background-color: #7144ff;
    color: #339 !important;
}
.navbar-nav {
    background-color: #fff;
    height: 40px;
    text-align: center;
    font-size: 15px;
    position: relative;
    top: 4px;
}
li a{
    font-size: 15px;
    list-style: none;
} 
.nav-item{
    position: relative;
    padding-left: 0;
}
/* .image1 .im{
    border-radius: 50%;
    width: 70px;
    height: 70px;
}
.image2 .im{
    border-radius: 50%;
    width: 70px;
    height: 70px;
}
.image3 .im{
    border-radius: 50%;
    width: 70px;
    height: 70px;
}
.image4 .im{
    border-radius: 50%;
    width: 70px;
    height: 70px;
}
.image5 .im{
    top: 10px;
}
.image{
    display: flex;
    gap: 4rem;
    padding: 50px;
}
.image p{
    padding-top: 10px;
} */

.EndodonticsDiv,
.OrthodonticsDiv,
.ImplantDiv,
.PerioDiv,
.ConsumablesDiv,
.InstrmentDiv,
.EquipmentDiv{
    display: none;
    z-index: 999;
}

.Endodontics:hover + .EndodonticsDiv,
.Orthodontics:hover + .OrthodonticsDiv,
.Implant:hover + .ImplantDiv,
.Perio:hover + .PerioDiv,
.Instrment:hover + .InstrmentDiv,
.Equipment:hover + .EquipmentDiv,
.Consumables:hover + .ConsumablesDiv{
    display: block;
}
ul{
    list-style: none;
}
.RestorativeDiv {
    display: none;
    position: absolute;
    top: 37px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
    z-index: 999; 
    width: 90%;
}
.EndodonticsDiv {
    display: none;
    position: absolute;
    top: 37px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
    z-index: 999; 
    width: 90%;
}
.OrthodonticsDiv {
    display: none;
    position: absolute;
    top: 37px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
    z-index: 999; 
    width: 90%;
}
.ImplantDiv {
    display: none;
    position: absolute;
    top: 37px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
    z-index: 999; 
    width: 90%;
}
.PerioDiv {
    display: none;
    position: absolute;
    top: 37px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
    z-index: 999; 
    width: 90%;
}
.ConsumablesDiv {
    display: none;
    position: absolute;
    top: 37px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
    z-index: 999; 
    width: 90%;
}
.InstrmentDiv {
    display: none;
    position: absolute;
    top: 37px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
    z-index: 999; 
    width: 90%;
}
.EquipmentDiv {
    display: none;
    position: absolute;
    top: 37px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
    z-index: 999; 
    width: 90%;
}
/* .svg{
    position: relative;
    bottom: 55px;
    left: 25px;
} */
.card1 img{
    width: 140px;
    height: 140px;
    position: relative;
    top: 27px;
    right: 41px;
}
i{
    color: rgb(214, 10, 10);
    /* bottom: 50px; */
    position: relative;
    /* right: 20px; */
    left: 20px;
}
[type="button"]:not(:disabled), [type="reset"]:not(:disabled), [type="submit"]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
    /* right: -50px; */
}
.price{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}
/* i:hover{
    background-color: rgba(243, 131, 131, 0.5);
    width: 20px;
    height: 20px;
    border-radius: 50%;
} */

.coll{
    display: flex;
}
.card1 p{
    font-size: 18px;
    padding: 20px;
}
.card1{
    border-radius: 2px;
    border: 1px solid #ece7ff;
}
.title{
    display: flex;
    justify-content: space-between;
    margin: 80px;
}

.sale{
    margin-top: 5px;
}
.aaaa p{
    color: #666;
    font-size: 18px;
    font-weight: 300;
}

.footer-con{
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding-top: 20px;
    border-top: 1px solid #666;
    width: 80%;

}
.by{
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    background-color: #339;
    color: #fff;
}

/* .image{
    width: 150px;
    height: 150px;
} */
.carda{
    display: flex;
}
.offerss{
    color: rgb(34, 133, 34);
}
.icon{
    color: rgb(214, 10, 10);
    /* bottom: 50px;
    position: relative; */
    /* right: 20px; */
}
/* .col-2{
    border: 1px solid #666;
    text-align: center;
    width: 160px;
    height: 160px;
    position: relative;
    /* bottom: 50px; */
/* } */ 
.splide__list {
    backface-visibility: hidden;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    margin: 0!important;
    /* padding: 0!important; */
    gap: 5px;
    text-align: center;
}
.splide-sec{
    width: 90%;
    margin: auto;
}
.splide-section{
    width: 90%;
    margin: auto;
    margin-bottom: 60px;
}
.splide-sec{
    width: 90%;
    margin: auto;
}
.new-splide{
    width: 85%;
    margin: auto;
}
.New-splide{
    width: 85%;
    margin: auto;
}
/* .splide__list{
    display: flex;
    gap: 20px;
} */
.splide__slide{
    border: 1px solid rgb(206, 205, 205);
    /* display: flex; */
    border-radius: 3px;
    /* gap: 20px; */
}
.imagg{
    height: 150px;
    text-align: center;
    margin: 19px
}
.price h4{
    color: #339;
}
.slide-offers{
    width: 85%;
    margin: auto;
}
.slide-clear{
    width: 85%;
    margin: auto;
}
.best-splide{
    width: 85%;
    margin: auto;
}
.imgs{
    width: 200px;
    height: 200px;
}
.cart-btn{
    color: #212234;
    background-color: rgb(255, 217, 51);
    border: 0;
    width: 100px;
    height: 30px;
    text-align: center;
    margin-left: 50px;
    margin: 20px;
}
.small, small {
    font-size: 10px;
    padding: 10px;
}
.img img{
    height: 150px;
}
.pricee{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}
.pricee h4{
    color: #339;
}
.imgg img{
    height: 130px;
}
.titlee{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}
.price-offer{
    color: rgb(40, 187, 40);
    padding: 10px;
}
.image-splide{
    height: 70px;
    text-align: center;
    margin: 20px;
}
.ppp{
    text-align: center;
    padding-top: 30px;
}
/* Mobile Nav */
.restorativeArrowDown{
    display: none;
}
.ConsumablesArrowDown{
    display: none;
}
.restorativeContent{
    display: none;
}
.consumablesContent{
    display: none;
}
@media (max-width: 860px) {
    .cart a{
        display: none;
    }
    .sign .sign-in{
        display: none;
    }
    .svg2{
        display: none;
    }
    .svg4{
        display: none;
    }
    .svg6{
        display: none;
    }
    .support{
        display: none;
    }
    .cart{
        border-right: none;
    }
    .svg{
        padding-right: 10px;
    }
    .footer-con{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        /* text-align: center; */
    }
    .title{
        display: flex;
        justify-content: space-between;
    }
    h2{
        font-size: 18px;
    }
    .denta .image1,.image2,.image3, .image4, .image5{
        width: 70px;
    }
}
/* .splide__slide img {
    vertical-align: bottom;
    height: 100%;
} */
